.center-form {
  max-width: 30rem;
  margin: 2rem auto;
}

.center-form img {
  display: block;
  margin: 2rem auto;
  width: 8rem;
}

.center-form h2 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 2rem;
}

.center-form label {
  margin-top: 1rem;
  display: block;
}

.center-form input {
  width: 100%;
  margin-bottom: 1rem;
}

.center-form button {
  float: right;
}

label {
  line-height: 2.5rem;
  color: var(--dark);
  font-size: 0.9rem;
  margin-right: 1rem;
}

label.required::before {
  content: '*';
  color: var(--red);
  margin-right: 0.3rem;
}

input,
textarea {
  border: 1px solid var(--grey-light);
  border-radius: var(--radius);
  line-height: 2.5rem;
  padding: 0 0.75rem;
  transition: border 300ms;
  font-size: 0.9rem;
  color: var(--dark);
}

textarea {
  padding: 0.75rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  border-color: var(--red);
  outline: none;
}

input::placeholder {
  color: var(--grey-light);
}

input[type="search"] {
  margin: 1rem 0;
  line-height: 1.5rem;
  padding-left: 1.75rem;
  background: url('../img/search.svg') no-repeat center left 0.5rem;
  background-size: 0.8rem;
  font-size: 0.8rem;
  width: 25rem;
  max-width: 100%;
}

input::placeholder {
  color: var(--grey);
  opacity: 1;
}

input[disabled] {
  background-color: #eee;
}

#upload {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}