.card {
  border: 1px solid var(--grey-lighter);
  box-shadow: var(--shadaw);
  border-radius: var(--radius);
}

.message {
  width: 35rem;
  border-radius: var(--radius);
  display: block;
  margin: 4rem auto -2rem auto;
  padding: 1rem;
}

.message.error {
  background: var(--red-light);
  color: var(--red);
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.border-bottom {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey-lighter);
}

.badge {
  display: inline-block;
  padding: 0 0.25rem;
  border: 1px solid var(--grey-dark);
  color: var(--grey-dark);
  border-radius: var(--radius);
  margin-left: 0.5rem;
}

.badge.success {
  color: var(--success);
  border-color: var(--success-border);
  background: var(--success-bg);
}

.badge.warning {
  color: var(--warning);
  border-color: var(--warning-border);
  background: var(--warning-bg);
}

.muted {
  padding: 0.5rem;
  display: block;
  color: var(--grey-dark);
  text-align: center;
}

.row {
  display: flex;
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }
}

.flex-1 {
  flex: 1;
}
